.episodes-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px;
}

.episodes-title {
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .episodes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 809px) {
  .episodes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 588px) {
  .episodes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .episodes-title {
    font-size: 14px;
  }
}

@media (max-width: 424px) {
  .episodes-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}