.home-title {
  text-align: center;
}

.home-title h3 {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.home-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  padding-bottom: 80px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 600px;
  height: 350px;
  border-radius: 15px;
}

.home-content img {
  width: 400px;
  height: 220px;
}

.home-content p {
  width: 400px;
}

.home-link-item {
  color: black;
  text-decoration: none;
}

.home-link-item :hover {
  color: #87d1db;
}

@media (max-width: 1863px) {
  .home-content {
    width: 450px;
    height: 365px;
  }

  .home-content img {
    width: 350px;
  }

  .home-content p {
    width: 350px;
  }
}

@media (max-width: 1414px) {
  .home-content {
    width: 380px;
    height: 300px;
  }

  .home-content img {
    width: 300px;
  }

  .home-content p {
    width: 300px;
  }
}

@media (max-width: 1197px) {
  .home-content {
    width: 320px;
  }

  .home-content img {
    width: 250px;
  }

  .home-content p {
    width: 250px;
  }
}

@media (max-width: 995px) {
  .home-title {
    font-size: 12px;
  }

  .home-title h3 {
    width: 800px;
  }

  .home-content {
    width: 270px;
  }

  .home-content img {
    width: 220px;
  }

  .home-content p {
    width: 220px;
  }
}

@media (max-width: 866px) {
  .home-content {
    width: 240px;
  }

  .home-content img {
    width: 180px;
  }

  .home-content p {
    width: 180px;
  }
}

@media (max-width: 800px) {
  .home-title h3 {
    width: 600px;
  }
}

@media (max-width: 719px) {
  .home-info {
    flex-wrap: wrap;
    height: 90vh;
  }
}

@media (max-width: 602px) {
  .home-title {
    font-size: 11px;
  }

  .home-title h3 {
    width: 500px;
  }

  .home-content {
    width: 210px;
    height: 270px;
  }

  .home-content img {
    width: 140px;
  }

  .home-content p {
    width: 140px;
    font-size: 13px;
  }

  .home-content h2 {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .home-title h3 {
    width: 400px;
  }
}

@media (max-width: 419px) {
  .home-info {
    height: 120vh;
  }
}

@media (max-width: 400px) {
  .home-title {
    font-size: 10px;
  }

  .home-title h3 {
    width: 300px;
  }
}