.location-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
  padding: 10px;
}

@media (max-width: 425px) {
  .location-header h2 {
    font-size: 20px;
  }

  .location-info p {
    font-size: 14px;
  }
}