.nav-div {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #87d1db;
}

.nav-item {
  font-size: 13px;

}

.nav-icon {
  width: 225px;
}

.link-item {
  text-decoration: none;
  color: black;
}

.nav-item :hover {
  color: white
}

.nav-logo {
  width: 150px;
  padding-left: 20px;
}

.separator {
  text-align: center;
  width: 10px;
  height: 20px;
  margin: auto 20px;
}